.heroHeader{
    font-family: var(--ff-body);
    font-size: 4rem;
}

.heroSubtitle{
    font-family: var(--ff-body);
    font-size: 2rem;
}

.link{
    text-decoration: underline;
    color: black;
}


@media only screen and (max-width: 768px) {
    .heroHeader{
        font-size: 3.5rem;
    }
    
    .heroSubtitle{
        font-size: 1.5rem;
    }
    
    
}